@model MvcFoodRecipe.Models.DTO.FoodListVm
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<section class="search-bar">
    <form method="get" asp-action="Index">visual
        <input type="text" name="term" placeholder="search here">
        <button type="submit"><i class="fa fa-search"></i></button>
        <a class="btn btn-default" href="/Home/Index">All</a>
    </form>
</section>
<section class="foodS">
    @foreach (var food in Model.FoodList)
    {
        <div class="food-card" onclick="window.location.href='/Home/FoodDetail?foodId=@food.Id'">
            <div class="food-image">
            <img src="/Uploads/@food.RecipeImage">
        </div>
            <div class="food-info">
            <h4>@food.Title</h4>
               
                <h4>@food.Ingredients</h4>
                <h4>@food.FoodPhoto</h4>
                 <h4>@food.Steps</h4>
         
        </div>
    </div>
    }
</section>

<div class="pagination">
    @for(int i=1;i<=Model.TotalPages;i++){
        if(i==Model.CurrentPage){
            <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        }
        else{
            <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>

        }
    }
   
</div>

